body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(167, 121, 120);
}


#topper {
    text-align: center;
    margin-top: 40px;
    color: cornsilk;
}

#timerText{
    text-align: center;
    margin-top: 20px;
    color: cornsilk;
}
